<div class="col-3 mx-auto text-center">
  <div *ngIf="match$ | async as match" class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{'Id' | translate}}: {{match.id}}</h5>
        <p class="card-text">{{'Result' | translate}}: {{getEnumKeyByValue(match.matchResult)}}</p>
        <p class="card-text">{{'Game Id' | translate}}: {{match.gameId}}</p>
        <p class="card-text">{{'First team Id' | translate}}: {{match.teamOneId}}</p>
        <p class="card-text">{{'Second team Id' | translate}}: {{match.teamTwoId}}</p>
        <button 
          (click)="predict()" 
          *ngIf="firstTeamWin === undefined && match.matchResult == 3" 
          class="btn btn-primary">{{'Predict' | translate}}</button>
        <p *ngIf="firstTeamWin !== undefined" class="card-text">
          {{'Prediction' | translate}}: {{firstTeamWin ? match.teamOneId : match.teamTwoId}}
        </p>
        <div *ngIf="authService.isAdmin()">
          <a [routerLink]="['/match/edit/', match.id]" class="mx-4 btn btn-primary">{{'Edit' | translate}}</a>
          <a (click)="Delete(match.id)" class="mx-4 btn btn-danger">{{'Delete' | translate}}</a>
        </div>        
      </div>
    </div>
</div>