<div class="col-3 mx-auto text-center">
  <div *ngIf="match$ | async as match" class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Id: {{match.id}}</h5>
        <p class="card-text">Result: {{getEnumKeyByValue(match.matchResult)}}</p>
        <p class="card-text">Game Id: {{match.gameId}}</p>
        <p class="card-text">First team Id: {{match.teamOneId}}</p>
        <p class="card-text">Second team Id: {{match.teamTwoId}}</p>
        <div>
          <a [routerLink]="['/match/edit/', match.id]" class="mx-4 btn btn-primary">Edit</a>
          <a (click)="Delete(match.id)" class="mx-4 btn btn-danger">Delete</a>
        </div>        
      </div>
    </div>
</div>