<div class="col-md-4 offset-4">

  <form [formGroup]="gameForm" #gmForm="ngForm">

    <div class="form-group">
      <label>{{'Name' | translate}}:</label>
      <input type="text" class="form-control" formControlName="name" required >
    </div>

    <div class="alert alert-danger" *ngIf="gmForm.submitted && this.gameForm.controls[name].errors">
      <div *ngIf="this.gameForm.controls[name].errors.required">
        {{'Name is required' | translate}}.
      </div>
    </div>

    <div class="form-group">
      <label>{{'Description' | translate}}:</label>
      <input type="text" class="form-control" formControlName="description" required>
    </div>
    
    <div class="alert alert-danger" *ngIf="gmForm.submitted && this.gameForm.controls[description].errors">
      <div *ngIf="this.gameForm.controls[description].errors.required">
        {{'Description is required' | translate}}.
      </div>
    </div>

  <button type="submit" (click)="Submit()" class="btn btn-primary">{{'Submit' | translate}}</button>
  
  </form>
  <br>
</div>

<div *ngIf="errorOccurd" class="col-md-4 offset-4">
  <app-errors [errorMessages]="['Error occured. Try later' | translate]">
  </app-errors>
</div>

